//BEGIN :: Font stack

$fontStack                  : "Open Sans";

//END :: Font stack

//BEGIN :: Color Coding
$colorDarkBlue              : #1f1942;
$colorBlue                  : #2e255f;
$colorDarkBlueBlack         : #130B1E;
$colorLightBlue             : #6cacc5;
$colorBrown                 : #8c5059;
$colorYellow                : #926f06;
//END :: Color Coding